body {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: "Open Sans Condensed";
}

p, li, table, input {
    font-family: "Open Sans";
    font-weight: 200;
}

h1 {
    font-weight: 700;
    font-size: 3rem
}

h2 {
    font-size: 2rem;
}

.sub {
    color: #757575;
    font-size: 1.3rem;
}

.border {
    border: 1px solid #CCC;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}