body {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: "Open Sans Condensed";
}

p, li, table, input {
    font-family: "Open Sans";
    font-weight: 200;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem
}

h2 {
    font-size: 3rem;
}

.header {
    background-color: #222;
    height: 7em;
}

.header img {
    margin-top: 1em;
}

.header .search div {
    margin-top: 1em;
}

.nav {
    width: 100%;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
    margin-top: 0rem;
}

.nav ul li {
    float: left;
    display: block;
    margin: 0 1.8em;
    position: relative;
    right: 50%;
    text-transform: uppercase;
    font-size: .9rem;
}

.nav ul li a {
    color: #FFF;
}

.hero {
    background: url(../img/hero-lg.jpg) center no-repeat;
    height: 25rem;
    padding: 3.5rem 0 0 0;
}

.hero h1 {
    margin-bottom: 2rem;
}

.intro {
    font-size: 1.3rem;
    text-align: center;
    padding:0 5rem;
}

.events {
    padding: 2rem 0;
    border-bottom: 1px solid #CCC;
}

.events h2, .social h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.events ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events li.date {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: .6rem;
}

.events li.event-name {
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-family: "Open Sans Condensed"
}

.events li.date span {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    line-height: 6rem;
}

.event-box {
    cursor: pointer;
    background: url(../img/bg-date.png) center top no-repeat;   
}

.event-box:hover {
    background: url(../img/bg-date-hover.png) center top no-repeat;
}

.event-spotlight {
    border: 1px dashed #CCC;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
    height: 18rem;
}

.event-spotlight h3 {
    font-weight: 700;
}

.event-spotlight p.pre {
    text-transform: uppercase;
    color: #999;
    margin-bottom: 0;
    line-height: 1rem;
}

.about {
    background-color: #757575;
    padding: 1.5rem 0;
}

.about h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 2rem;
}

.about li {
    text-align: center;
    font-size: .8rem;
    color: #FFF;
}

.about li img {
    margin-bottom: .5rem;
}

.social {
    padding: 2rem 0;
}

.tint {
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em 0;
}

.footer {
    background-color: #252525;
    padding: 1rem 0;
}

.footer .address ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    color: #FFF;
    font-size: .8rem;
    list-style-image: url(../img/bullet-footer.png);
}

.footer .social img {
    float: right;
}