body {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: "Open Sans Condensed";
}

p, li, table, input {
    font-family: "Open Sans";
    font-weight: 200;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem
}

h2 {
    font-size: 3rem;
}

.header {
    background-color: #222;
    height: 7em;
}

.header img {
    margin-top: 1em;
}

.header .search div {
    margin-top: 1em;
}

.nav {
    width: 100%;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
    margin-top: 0rem;
}

.nav ul li {
    float: left;
    display: block;
    margin: 0 1.8em;
    position: relative;
    right: 50%;
    text-transform: uppercase;
    font-size: .9rem;
}

.nav ul li a {
    color: #FFF;
}

.hero {
    background: url(../img/hero-lg.jpg) center no-repeat;
    height: 25rem;
    padding: 3.5rem 0 0 0;
}

.hero h1 {
    margin-bottom: 2rem;
}

.intro {
    font-size: 1.3rem;
    text-align: center;
    padding:0 5rem;
}

.events {
    padding: 2rem 0;
}

.events h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.events ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events li.date {
    text-align: center;
    text-transform: uppercase;
    padding: .5rem;

}

.events li.event-name {
    text-align: center;
}

.events li.date span {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    line-height: 6rem;
}

.event-click {
    position: relative;

}

.event-click a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
        background: url(../img/bg-date.png) center no-repeat !important;
}

.event-click a:hover {
    background-image: url(../img/bg-date-hover.png) center no-repeat;
}

.about {
    background-color: #757575;
    padding: 1.5rem 0;
}

.about h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 2rem;
}

.about li {
    text-align: center;
    font-size: .8rem;
    color: #FFF;
}

.about li img {
    margin-bottom: .5rem;
}

.footer {
    background-color: #252525;
    padding: 1rem 0;
}

.footer .address ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    color: #FFF;
    font-size: .8rem;
    list-style-image: url(../img/bullet-footer.png);
}

.footer .social img {
    float: right;
}