 
.icon-alert-info {
	background-image: url('../css/png/alert-info.png');
	background-repeat: no-repeat;
}

 
.icon-alert-question {
	background-image: url('../css/png/alert-question.png');
	background-repeat: no-repeat;
}

 
.icon-alert-warning {
	background-image: url('../css/png/alert-warning.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-line-down {
	background-image: url('../css/png/arrow-line-down.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-line-left {
	background-image: url('../css/png/arrow-line-left.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-line-right {
	background-image: url('../css/png/arrow-line-right.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-line-up {
	background-image: url('../css/png/arrow-line-up.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-solid-down {
	background-image: url('../css/png/arrow-solid-down.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-solid-left {
	background-image: url('../css/png/arrow-solid-left.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-solid-right {
	background-image: url('../css/png/arrow-solid-right.png');
	background-repeat: no-repeat;
}

 
.icon-arrow-solid-up {
	background-image: url('../css/png/arrow-solid-up.png');
	background-repeat: no-repeat;
}

 
.icon-cancel-circle {
	background-image: url('../css/png/cancel-circle.png');
	background-repeat: no-repeat;
}

 
.icon-cancel {
	background-image: url('../css/png/cancel.png');
	background-repeat: no-repeat;
}

 
.icon-checkmark {
	background-image: url('../css/png/checkmark.png');
	background-repeat: no-repeat;
}

 
.icon-email {
	background-image: url('../css/png/email.png');
	background-repeat: no-repeat;
}

 
.icon-ext-link-01 {
	background-image: url('../css/png/ext-link-01.png');
	background-repeat: no-repeat;
}

 
.icon-ext-link-02 {
	background-image: url('../css/png/ext-link-02.png');
	background-repeat: no-repeat;
}

 
.icon-ext-link-03 {
	background-image: url('../css/png/ext-link-03.png');
	background-repeat: no-repeat;
}

 
.icon-file-excel-outline {
	background-image: url('../css/png/file-excel-outline.png');
	background-repeat: no-repeat;
}

 
.icon-file-excel {
	background-image: url('../css/png/file-excel.png');
	background-repeat: no-repeat;
}

 
.icon-file-pdf-outline {
	background-image: url('../css/png/file-pdf-outline.png');
	background-repeat: no-repeat;
}

 
.icon-file-pdf {
	background-image: url('../css/png/file-pdf.png');
	background-repeat: no-repeat;
}

 
.icon-file-powerpoint-outline {
	background-image: url('../css/png/file-powerpoint-outline.png');
	background-repeat: no-repeat;
}

 
.icon-file-powerpoint {
	background-image: url('../css/png/file-powerpoint.png');
	background-repeat: no-repeat;
}

 
.icon-file-word-outline {
	background-image: url('../css/png/file-word-outline.png');
	background-repeat: no-repeat;
}

 
.icon-file-word {
	background-image: url('../css/png/file-word.png');
	background-repeat: no-repeat;
}

 
.icon-gear {
	background-image: url('../css/png/gear.png');
	background-repeat: no-repeat;
}

 
.icon-home {
	background-image: url('../css/png/home.png');
	background-repeat: no-repeat;
}

 
.icon-logo-ig-e {
	background-image: url('../css/png/logo-ig-e.png');
	background-repeat: no-repeat;
}

 
.icon-logo-ig-f {
	background-image: url('../css/png/logo-ig-f.png');
	background-repeat: no-repeat;
}

 
.icon-map-pin {
	background-image: url('../css/png/map-pin.png');
	background-repeat: no-repeat;
}

 
.icon-minus-circle {
	background-image: url('../css/png/minus-circle.png');
	background-repeat: no-repeat;
}

 
.icon-minus {
	background-image: url('../css/png/minus.png');
	background-repeat: no-repeat;
}

 
.icon-next-line-circle {
	background-image: url('../css/png/next-line-circle.png');
	background-repeat: no-repeat;
}

 
.icon-next-solid-circle {
	background-image: url('../css/png/next-solid-circle.png');
	background-repeat: no-repeat;
}

 
.icon-plus-circle {
	background-image: url('../css/png/plus-circle.png');
	background-repeat: no-repeat;
}

 
.icon-plus {
	background-image: url('../css/png/plus.png');
	background-repeat: no-repeat;
}

 
.icon-previous-line-circle {
	background-image: url('../css/png/previous-line-circle.png');
	background-repeat: no-repeat;
}

 
.icon-previous-solid-circle {
	background-image: url('../css/png/previous-solid-circle.png');
	background-repeat: no-repeat;
}

 
.icon-search {
	background-image: url('../css/png/search.png');
	background-repeat: no-repeat;
}

 
.icon-soc-facebook {
	background-image: url('../css/png/soc-facebook.png');
	background-repeat: no-repeat;
}

 
.icon-soc-instagram {
	background-image: url('../css/png/soc-instagram.png');
	background-repeat: no-repeat;
}

 
.icon-soc-linkedin {
	background-image: url('../css/png/soc-linkedin.png');
	background-repeat: no-repeat;
}

 
.icon-soc-stumbleupon {
	background-image: url('../css/png/soc-stumbleupon.png');
	background-repeat: no-repeat;
}

 
.icon-soc-youtube {
	background-image: url('../css/png/soc-youtube.png');
	background-repeat: no-repeat;
}

