/* Icons from directory "" */
.icon-alert-info,.icon-alert-info\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-alert-info-dims{width:92px;height:92px}
.icon-alert-question,.icon-alert-question\:regular{background-image:url('icons/icons.png');background-position:0 -92px;background-repeat:no-repeat}
.icon-alert-question-dims{width:92px;height:92px}
.icon-alert-warning,.icon-alert-warning\:regular{background-image:url('icons/icons.png');background-position:0 -184px;background-repeat:no-repeat}
.icon-alert-warning-dims{width:96px;height:85px}
.icon-arrow-line-down,.icon-arrow-line-down\:regular{background-image:url('icons/icons.png');background-position:0 -269px;background-repeat:no-repeat}
.icon-arrow-line-down-dims{width:46px;height:26px}
.icon-arrow-line-left,.icon-arrow-line-left\:regular{background-image:url('icons/icons.png');background-position:0 -295px;background-repeat:no-repeat}
.icon-arrow-line-left-dims{width:26px;height:46px}
.icon-arrow-line-right,.icon-arrow-line-right\:regular{background-image:url('icons/icons.png');background-position:0 -341px;background-repeat:no-repeat}
.icon-arrow-line-right-dims{width:26px;height:46px}
.icon-arrow-line-up,.icon-arrow-line-up\:regular{background-image:url('icons/icons.png');background-position:0 -387px;background-repeat:no-repeat}
.icon-arrow-line-up-dims{width:46px;height:26px}
.icon-arrow-solid-down,.icon-arrow-solid-down\:regular{background-image:url('icons/icons.png');background-position:0 -413px;background-repeat:no-repeat}
.icon-arrow-solid-down-dims{width:46px;height:23px}
.icon-arrow-solid-left,.icon-arrow-solid-left\:regular{background-image:url('icons/icons.png');background-position:0 -436px;background-repeat:no-repeat}
.icon-arrow-solid-left-dims{width:23px;height:46px}
.icon-arrow-solid-right,.icon-arrow-solid-right\:regular{background-image:url('icons/icons.png');background-position:0 -482px;background-repeat:no-repeat}
.icon-arrow-solid-right-dims{width:23px;height:46px}
.icon-arrow-solid-up,.icon-arrow-solid-up\:regular{background-image:url('icons/icons.png');background-position:0 -528px;background-repeat:no-repeat}
.icon-arrow-solid-up-dims{width:46px;height:23px}
.icon-cancel-circle,.icon-cancel-circle\:regular{background-image:url('icons/icons.png');background-position:0 -551px;background-repeat:no-repeat}
.icon-cancel-circle-dims{width:84px;height:84px}
.icon-cancel,.icon-cancel\:regular{background-image:url('icons/icons.png');background-position:0 -635px;background-repeat:no-repeat}
.icon-cancel-dims{width:47px;height:52px}
.icon-checkmark,.icon-checkmark\:regular{background-image:url('icons/icons.png');background-position:0 -687px;background-repeat:no-repeat}
.icon-checkmark-dims{width:67px;height:70px}
.icon-email,.icon-email\:regular{background-image:url('icons/icons.png');background-position:0 -757px;background-repeat:no-repeat}
.icon-email-dims{width:90px;height:58px}
.icon-ext-link-01,.icon-ext-link-01\:regular{background-image:url('icons/icons.png');background-position:0 -815px;background-repeat:no-repeat}
.icon-ext-link-01-dims{width:100px;height:78px}
.icon-ext-link-02,.icon-ext-link-02\:regular{background-image:url('icons/icons.png');background-position:0 -893px;background-repeat:no-repeat}
.icon-ext-link-02-dims{width:90px;height:90px}
.icon-ext-link-03,.icon-ext-link-03\:regular{background-image:url('icons/icons.png');background-position:0 -983px;background-repeat:no-repeat}
.icon-ext-link-03-dims{width:80px;height:80px}
.icon-file-excel-outline,.icon-file-excel-outline\:regular{background-image:url('icons/icons.png');background-position:0 -1063px;background-repeat:no-repeat}
.icon-file-excel-outline-dims{width:100px;height:96px}
.icon-file-excel,.icon-file-excel\:regular{background-image:url('icons/icons.png');background-position:0 -1159px;background-repeat:no-repeat}
.icon-file-excel-dims{width:100px;height:96px}
.icon-file-pdf-outline,.icon-file-pdf-outline\:regular{background-image:url('icons/icons.png');background-position:0 -1255px;background-repeat:no-repeat}
.icon-file-pdf-outline-dims{width:100px;height:96px}
.icon-file-pdf,.icon-file-pdf\:regular{background-image:url('icons/icons.png');background-position:0 -1351px;background-repeat:no-repeat}
.icon-file-pdf-dims{width:100px;height:96px}
.icon-file-powerpoint-outline,.icon-file-powerpoint-outline\:regular{background-image:url('icons/icons.png');background-position:0 -1447px;background-repeat:no-repeat}
.icon-file-powerpoint-outline-dims{width:100px;height:96px}
.icon-file-powerpoint,.icon-file-powerpoint\:regular{background-image:url('icons/icons.png');background-position:0 -1543px;background-repeat:no-repeat}
.icon-file-powerpoint-dims{width:100px;height:96px}
.icon-file-word-outline,.icon-file-word-outline\:regular{background-image:url('icons/icons.png');background-position:0 -1639px;background-repeat:no-repeat}
.icon-file-word-outline-dims{width:100px;height:96px}
.icon-file-word,.icon-file-word\:regular{background-image:url('icons/icons.png');background-position:0 -1735px;background-repeat:no-repeat}
.icon-file-word-dims{width:100px;height:96px}
.icon-gear,.icon-gear\:regular{background-image:url('icons/icons.png');background-position:0 -1831px;background-repeat:no-repeat}
.icon-gear-dims{width:84px;height:84px}
.icon-home,.icon-home\:regular{background-image:url('icons/icons.png');background-position:0 -1915px;background-repeat:no-repeat}
.icon-home-dims{width:90px;height:80px}
.icon-logo-ig-e,.icon-logo-ig-e\:regular{background-image:url('icons/icons.png');background-position:0 -1995px;background-repeat:no-repeat}
.icon-logo-ig-e-dims{width:241px;height:68px}
.icon-logo-ig-f,.icon-logo-ig-f\:regular{background-image:url('icons/icons.png');background-position:0 -2063px;background-repeat:no-repeat}
.icon-logo-ig-f-dims{width:234px;height:68px}
.icon-map-pin,.icon-map-pin\:regular{background-image:url('icons/icons.png');background-position:0 -2131px;background-repeat:no-repeat}
.icon-map-pin-dims{width:50px;height:80px}
.icon-minus-circle,.icon-minus-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2211px;background-repeat:no-repeat}
.icon-minus-circle-dims{width:84px;height:84px}
.icon-minus,.icon-minus\:regular{background-image:url('icons/icons.png');background-position:0 -2295px;background-repeat:no-repeat}
.icon-minus-dims{width:58px;height:10px}
.icon-next-line-circle,.icon-next-line-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2305px;background-repeat:no-repeat}
.icon-next-line-circle-dims{width:105px;height:105px}
.icon-next-solid-circle,.icon-next-solid-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2410px;background-repeat:no-repeat}
.icon-next-solid-circle-dims{width:105px;height:105px}
.icon-plus-circle,.icon-plus-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2515px;background-repeat:no-repeat}
.icon-plus-circle-dims{width:84px;height:84px}
.icon-plus,.icon-plus\:regular{background-image:url('icons/icons.png');background-position:0 -2599px;background-repeat:no-repeat}
.icon-plus-dims{width:58px;height:58px}
.icon-previous-line-circle,.icon-previous-line-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2657px;background-repeat:no-repeat}
.icon-previous-line-circle-dims{width:105px;height:105px}
.icon-previous-solid-circle,.icon-previous-solid-circle\:regular{background-image:url('icons/icons.png');background-position:0 -2762px;background-repeat:no-repeat}
.icon-previous-solid-circle-dims{width:105px;height:105px}
.icon-search,.icon-search\:regular{background-image:url('icons/icons.png');background-position:0 -2867px;background-repeat:no-repeat}
.icon-search-dims{width:79px;height:79px}
.icon-soc-facebook,.icon-soc-facebook\:regular{background-image:url('icons/icons.png');background-position:0 -2946px;background-repeat:no-repeat}
.icon-soc-facebook-dims{width:86px;height:86px}
.icon-soc-instagram,.icon-soc-instagram\:regular{background-image:url('icons/icons.png');background-position:0 -3032px;background-repeat:no-repeat}
.icon-soc-instagram-dims{width:86px;height:86px}
.icon-soc-linkedin,.icon-soc-linkedin\:regular{background-image:url('icons/icons.png');background-position:0 -3118px;background-repeat:no-repeat}
.icon-soc-linkedin-dims{width:90px;height:89px}
.icon-soc-stumbleupon,.icon-soc-stumbleupon\:regular{background-image:url('icons/icons.png');background-position:0 -3207px;background-repeat:no-repeat}
.icon-soc-stumbleupon-dims{width:100px;height:76px}
.icon-soc-youtube,.icon-soc-youtube\:regular{background-image:url('icons/icons.png');background-position:0 -3283px;background-repeat:no-repeat}
.icon-soc-youtube-dims{width:120px;height:86px}