html {
	box-sizing: border-box;
}

h1 {
	font-weight: 900;
	text-align: center;
	font-size: 2em;
	line-height: 1.25;
	color: #00416F;
}

h2, h3 {
	text-align: center;
}

p, li {
	font-weight: 300;
}

p a {
	color: #369;
	border-bottom: 1px dashed #369;
}

p a:hover {
	color: #369;
	border:none;
}

blockquote {
	font-family: 'Roboto Slab';
	font-size: 2.2em;
	font-weight: 100;
	color: #DC5114;
	xcolor: #00416F;
	border: none;
	line-height: 1.3em;
	margin-bottom: 2rem;
}

/* Colours */

.blue {
	background-color: #00416F;
	color: #FFF;
}

.cream {
	background-color: #FFF4C9;
}

.orange {
	background-color: #DC5114;
	color: #FFF;
}

.green {
	background-color: #285142;
	color: #FFF;
}

.grey {
	background-color: #4C5154;
	color: #FFF;
}

.black {
	background-color: #000;
	color: #FFF;
}

.white {
	background-color: #FFF;
	color: #000;
}

.light {
	background: url(../img/bg-trans-light.png);
}

.dark {
	background: url(../img/bg-trans-dark.png);
}

.colours li {
	list-style-type: none;
	text-align: center;
}

/* End colours */

/* Nav */

.nav {
	background-color: #323232;
	height: 4em;
	text-align: center;
	margin-top: 2em;
}

.nav ul {
	display: inline-block;
	margin: 0 auto;	
	margin-top: 1.25em;
	list-style: none;
}

.nav ul li {
	display: inline;
	float: left;
	margin: 0 .5em;
	color: white;
}

.nav ul li a {
	padding:.5em;
}

.nav ul li a:hover {
	background-color: #444;
	border-radius: 3px;
	text-decoration: underline;
	color: #FFF;
}

.sticky {
	position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 1000;  
    border-top: 0;
    margin-top: 0;
}

/* End nav */

/* Intro section styles */

.intro {
	background-color: #555;
	padding: 2em 0;
	margin-bottom: -2em;
}

.intro h1, .intro p {
	color: #FFF;
}


/* End intro section styles */

/* Layout section styles */

.add-border {
	border:1px dashed #000;
}

/* End layout section styles */

/* Panel styles */

.panel {
	background: #FDFDFD !important;
	padding: 3rem;
	border-color: #EEE;
}

.panel h1, .panel h2, .panel h3 {
	text-align: left;
	font-weight: normal;
}

.panel .subheader {
	font-size: 1.8rem;
	color: #999;
}

/* End panel styles */

/* Nav section styles */

.navigation {
	background-color: #FFF4C9;
}

.navigation h1 {
	text-align: left;
	font-weight: 400;
	color: #4C5154;
	margin-bottom: 2rem;
}

.navigation .copy {
	background-color: white;
	border-radius: 5px;
	padding-top: 1rem;
}

.navigation .side-nav {
	padding: 0 0 0.875rem 0;
}

.side-nav li a:not(.button) {
	padding: .4375rem 0;
	color: black;
}

.side-nav li a:hover {
	color: #DC5114;
}

.navigation .side-nav li {
	border-bottom: 1px dashed #CCC;
}

/* End nav section styles */

.button {
	background-color: #DC5114;
}

.button:hover {

}

.cwpb-return {
	height: 11.25rem;
	background: url(../img/alert-cwpb-return.png) top center no-repeat;
}

.cwpb-return p {
	text-align: center;
	background-color: #FFF4C9;
	padding: .5em 0;
	font-size: .8em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 40%;
	margin: 0 auto;
}

.desc {
	text-align: center;
	font-size: 1.4em;
	font-weight: 200;
}

.error {
	border: 1px solid red !important;
}

.img-center {
	margin: 0 auto;
	display: block;
	border:1px solid #CCC;
	border-radius: 5px;
}

.logo img {
	margin: 0 auto;
	display: block;
}

.section {
	padding:4em 0;
	border-bottom: 1px solid #CCC;
}

.slab h3, .slab p {
	font-family: 'Roboto Slab'
}

.sub {
	font-size: 1.4em;
}

.swatch {
	border-radius: 50%;
	width: 6.25em;
	height: 6.25em;
	text-align: center;
	padding-top: 2.25em;
	margin:0 auto;
	margin-bottom: .5em;
	display: block;
}

/* Local nav */

ul#collapsing-nav li a {
		color: black;
		text-decoration: none;
	}

	ul#collapsing-nav li a:hover {
		color: rgba(0,0,0,.6);
	}

	body.enhanced ul#collapsing-nav span a {
		color: black;
		text-decoration: none;
		padding-right: 1em;
	}

	body.enhanced ul#collapsing-nav span:hover {
		color: rgba(0,0,0,.6);
		cursor: pointer;
	}

	body.enhanced ul#collapsing-nav li.selected span,
	body.enhanced ul#collapsing-nav li.selected span:hover {
		color: #000;
		cursor: default;
		text-decoration: none;
	}

ul#collapsing-nav span.parent {
	background: url(../img/arrow-down.png) right no-repeat;
	display: block;
}

ul#collapsing-nav ul.children li {
	border: none;
	list-style: none;
}

.side-nav li {
	margin-bottom: 0 !important;
}


/* Demo */

/*
.demo h2 {
	text-align: left;
	border-bottom: 1px dashed rgba(0,0,0,.2);
}

.demo h2.parent {
	background: url(../img/arrow-down.png) right no-repeat;
}

.demo h2 a {
	color: black;
	font-weight: 300;
	font-size: 1rem;
}

.demo h2.open {
	border: none;
}

.demo .children {
	border-bottom: 1px dashed rgba(0,0,0,.2);
	padding-bottom: .5rem;
	list-style-type: none;
}

ul.children {
	margin: 0;
	padding-left: 1.5rem;
}
*/

/* SVG sprite */

.icon {
	
}

.st16 {
	fill: #0976b4 !important;
}

/* Videos */

.video-bg {
	background-color: #FFF4C9;
}

.video-wrapper {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-bottom: 1rem;
}

.video-wrapper p {
	text-align: right;
	margin-bottom: 0;
	margin: .75rem 0;
}

.video-content h1, .video-content h2, .video-content h3 {
	text-align: left;
}

.video-content h1 {
	font-weight: 400;
	margin: 2rem 0;
}

.video-content h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: #7F7A61;
}

iframe.video-container {
	display: block;
	margin: 0 auto;
	margin-top:1.5rem;
	border-radius: 5px;
}

.video-content .panel {
	padding: 1rem !important;
}

.video-module h3 {
	margin-bottom: 1rem;
}

.video-module h4 {
	border-top: 1px solid rgba(0,0,0,.1);
	padding-top: 1rem;
}

.video-transcript {
	font-size: .7rem;
	text-transform: uppercase;
	margin: 1rem .25rem 1rem;
	color: #000;
	border-bottom: none;
}

.video-transcript:hover {
	color: #DC5114;
	border-bottom: 1px dashed #DC5114;
	padding-bottom: 1px;
}

.video-carousel-large {
	margin-top: 2rem;
}

.video-carousel-large .panel {
	border: none;
	padding: 1rem;
}

.video-carousel-large h2 {
	text-align: left;
	font-size: 1.4rem;
	font-weight: 200;
	font-size: 2rem;
	margin: 1.25rem 0 0rem;
	padding-left: 0;
}

.video-carousel-large .video-copy {
	border: 1px dashed #CCC;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 1rem !important;
	background-color: white !important;
}

.video-carousel-large .panel {
	margin-bottom: 0;
}

.video-carousel-large .video-transcript {
	margin-right: 0;
}

.video-carousel-large .panel.video-wrapper {
	margin-top:1.5rem;
	background-color:#BFB793 !important;
	padding-bottom:.9rem;
}

.video-carousel-small h3 {
	font-weight: 200;
	margin: 1.5rem 0 0 .9rem;
}

.video-carousel-small .panel.video-wrapper {
	padding: 0;
	padding-top: 1.5rem;
	padding-bottom: .9rem;
	margin: 0;
	background-color:#BFB793 !important;
}

.video-carousel-small .video-transcript {
	margin-right: .7rem;
}

.video-carousel-small .video-copy {
	margin-bottom: 3rem !important;
	padding: .9rem 0 .9rem .7rem;
	border: 1px dashed #CCC;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.video-carousel-large .button, .video-carousel-small .button {
	color: #DC5114;
	border: 1px solid #DC5114;
	background-color: white;
	font-size: .8rem;
}

.video-carousel-small .button {
	width: 22.7rem;
}

.size-15 {
	font-size: 15px;
}

.size-18 {
	font-size: 18px;
}

.size-21 {
	font-size: 21px
}

.size-24 {
	font-size: 24px;
}

.size-36 {
	font-size: 36px;
}

/***** Media queries *****/

/* Small screens */
@media only screen {

}

/* Medium screens min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {

	h1 {
	    font-size: 2.5em;
	    line-height: 1.125;
	}

}

/* Large screens min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {

	h1 {
	    font-size: 3em;
	    /* 3x body copy size = 48px */
	    line-height: 1.05;
	    /* keep to a multiple of the 20px line height 
	    and something more appropriate for display headings */
	}

	.homepage-banner {
		background: url(../img/homepage-02.jpg) center no-repeat;
		height: 425px;
		border: 1px dashed #444;
	}

	.homepage-banner h2 {
		color: #285142;
		color: #3e910d;
		text-align: left;
		margin-top:2em;
		font-size: 3rem;
		line-height: 1.2em;
	}

	.homepage-banner-copy {
		display: table-cell;
		vertical-align: middle;
	}

}


/* Debugging queries */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


/* Experimental sizes - won't use yet */
/*
// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues
// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens 
*/

/* End media queries */