/* Icons from directory "" */
.icon-cancel-circle-no-grid-100,.icon-cancel-circle-no-grid-100\:regular{background-image:url('../img/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-cancel-circle-no-grid-100-dims{width:100px;height:100px}
.icon-checkmark-circle,.icon-checkmark-circle\:regular{background-image:url('../img/icons.svg');background-position:0 -100px;background-repeat:no-repeat}
.icon-checkmark-circle-dims{width:100px;height:100px}
.icon-close,.icon-close\:regular{background-image:url('../img/icons.svg');background-position:0 -200px;background-repeat:no-repeat}
.icon-close-dims{width:100px;height:100px}
.icon-cog2,.icon-cog2\:regular{background-image:url('../img/icons.svg');background-position:0 -300px;background-repeat:no-repeat}
.icon-cog2-dims{width:100px;height:100px}
.icon-home,.icon-home\:regular{background-image:url('../img/icons.svg');background-position:0 -400px;background-repeat:no-repeat}
.icon-home-dims{width:100px;height:100px}
.icon-icon_facebook-sign,.icon-icon_facebook-sign\:regular{background-image:url('../img/icons.svg');background-position:0 -500px;background-repeat:no-repeat}
.icon-icon_facebook-sign-dims{width:100px;height:100px}
.icon-icon_linkedin-sign,.icon-icon_linkedin-sign\:regular{background-image:url('../img/icons.svg');background-position:0 -600px;background-repeat:no-repeat}
.icon-icon_linkedin-sign-dims{width:100px;height:100px}
.icon-icon_twitter-sign,.icon-icon_twitter-sign\:regular{background-image:url('../img/icons.svg');background-position:0 -700px;background-repeat:no-repeat}
.icon-icon_twitter-sign-dims{width:100px;height:100px}
.icon-icon_youtube-sign,.icon-icon_youtube-sign\:regular{background-image:url('../img/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.icon-icon_youtube-sign-dims{width:100px;height:100px}
.icon-info,.icon-info\:regular{background-image:url('../img/icons.svg');background-position:0 -900px;background-repeat:no-repeat}
.icon-info-dims{width:100px;height:100px}
.icon-info2,.icon-info2\:regular{background-image:url('../img/icons.svg');background-position:0 -1000px;background-repeat:no-repeat}
.icon-info2-dims{width:100px;height:100px}
.icon-mail,.icon-mail\:regular{background-image:url('../img/icons.svg');background-position:0 -1100px;background-repeat:no-repeat}
.icon-mail-dims{width:100px;height:100px}
.icon-minus,.icon-minus\:regular{background-image:url('../img/icons.svg');background-position:0 -1200px;background-repeat:no-repeat}
.icon-minus-dims{width:100px;height:100px}
.icon-notification,.icon-notification\:regular{background-image:url('../img/icons.svg');background-position:0 -1300px;background-repeat:no-repeat}
.icon-notification-dims{width:100px;height:100px}
.icon-play2,.icon-play2\:regular{background-image:url('../img/icons.svg');background-position:0 -1400px;background-repeat:no-repeat}
.icon-play2-dims{width:100px;height:100px}
.icon-play3,.icon-play3\:regular{background-image:url('../img/icons.svg');background-position:0 -1500px;background-repeat:no-repeat}
.icon-play3-dims{width:100px;height:100px}
.icon-plus,.icon-plus\:regular{background-image:url('../img/icons.svg');background-position:0 -1600px;background-repeat:no-repeat}
.icon-plus-dims{width:100px;height:100px}
.icon-question,.icon-question\:regular{background-image:url('../img/icons.svg');background-position:0 -1700px;background-repeat:no-repeat}
.icon-question-dims{width:100px;height:100px}
.icon-search,.icon-search\:regular{background-image:url('../img/icons.svg');background-position:0 -1800px;background-repeat:no-repeat}
.icon-search-dims{width:100px;height:100px}
.icon-warning,.icon-warning\:regular{background-image:url('../img/icons.svg');background-position:0 -1900px;background-repeat:no-repeat}
.icon-warning-dims{width:100px;height:100px}
.icon-zoom-in,.icon-zoom-in\:regular{background-image:url('../img/icons.svg');background-position:0 -2000px;background-repeat:no-repeat}
.icon-zoom-in-dims{width:100px;height:100px}
.icon-zoom-out,.icon-zoom-out\:regular{background-image:url('../img/icons.svg');background-position:0 -2100px;background-repeat:no-repeat}
.icon-zoom-out-dims{width:100px;height:100px}